.detail-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 125px;
  margin-left: 100px;
  text-align: left;
}
.details {
  margin: 10px;
  background-color: lightgrey;
  border-radius: 8px;
  width: 24%;
  cursor: pointer;
  padding: 0 20px;
  position: relative;
}
.details h3 {
  padding: 10px 20px;
}
.details p {
  padding: 10px 20px;
}
.details span {
  padding: 10px 20px;
}
.details img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}
